body {
  color: white !important;
}

/* ================================
           MENU COMPONENT
================================ */

.menuContainer {
  height: auto;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 0;
  margin: 0;
}

.mainTitle {
  font-size: 4rem;
  font-weight: 600;
}
.lowerMenu {
  margin-top: auto;
  margin-bottom: auto;
  font-size: var(--FontS);
  font-weight: var(--FontW);
}

/* ================================
        BUTTON COMPONENT
================================ */

.startBtn {
  margin-top: 2rem;
  width: 10rem;
  height: var(--Button-Height);
  background: var(--ClrNeutral2);
  border: solid;
  border-radius: var(--radiusS);
  border-color: var(--ClrKPBrdr);
  font-size: var(--FontS);
  font-weight: var(--FontW);
  font-family: inherit;
  cursor: pointer;
  box-shadow: var(--ShadowL);
}
.startBtn:hover {
  background-color: #ebebeb;
}
.startBtn:active {
  background-color: #ebebeb;
  transform: translateY(2px);
  box-shadow: var(--Shadow);
}
