/* ================================
    MODAL COMPONENT
================================ */

.modal {
  width: 50vw;
  display: flex;
  background-color: rgba(0, 0, 0, 0.75);
  padding: var(--spaceL);
  border-radius: var(--radiusS);
  /* border shadow */
  flex-direction: column;
  gap: var(--spaceS);
  position: relative;
  box-shadow: var(--ShadowL);
  color: white;
  visibility: hidden;
}
.headerBar {
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 65vh;
  align-items: center;
  border-bottom: 2px solid white;
  font-size: var(--FontS);
  font-weight: var(--FontW);
}
.modalList {
  display: flex;
  flex-direction: column;
  gap: var(--spaceL);
  font-size: var(--FontS);
  font-weight: var(--FontW);
}
.modalList ul {
  list-style-type: none;
  padding: 0;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: var(--spaceS);
}

/* ================================
        CLOSE MENU COMPONENT
================================ */

.closeButton {
  align-items: flex-end;
  background: transparent;
  border: none;
  color: inherit;
  font: inherit;
  outline: inherit;
  cursor: pointer;
  font-size: var(--CloseButtonSize);
  font-weight: var(--FontW);
}
.closeButton:hover {
  color: #9e9e9e;
}
.closeButton:active {
  color: #9e9e9e;
  transform: translateY(0.5px);
}
