name: CI for dev branch

on:
  pull_request:
    branches:
      - dev  # Runs on PRs targeting the 'dev' branch
  push:
    branches:
      - dev  # Runs on direct pushes to 'dev'

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test
